<div class="row m-0">
    <div class="col-md-9 col-lg-9 col-sm-7 p-0">
        <div class="panel panel-info">
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body p-0">
                    <div class="table-responsive">
                        <table class="table list-video-overview">
                            <tbody *ngIf="videos">
                            <tr *ngFor="let video of videos.data">
                                <td width="150">
                                    <img src="assets/images/2706-chuyen-dong-trua-1467006309111-a481f.jpg" alt="iMac" width="80">
                                </td>
                                <td width="600">
                                    <h5 class="font-bold m-0 title-video" (click)="showDetailVideo( video.slug ? video.slug : '' )">
                                        {{ video.title ? video.title : '' }}
                                    </h5>
                                    <p class="m-0"><span class="font-bold">Ngày tạo </span> {{ video.created_at ? (video.created_at |  date:"MM/dd/yyyy, h:mm") : '' }}</p>
                                    <p class="m-0"><span class="font-bold">Ngày xuất bản </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Người tạo </span> Tới Nguyễn</p>
                                </td>
                                <td width="40" align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Xuất bản">
                                        <i class="mdi mdi-checkbox-marked-circle font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Gửi lên">
                                        <i class="mdi mdi-arrow-up-bold-circle-outline font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Xóa">
                                        <i class="ti-trash text-dark font-25 green"></i>
                                    </a>
                                </td>
                            </tr>
                            <div class="clear"></div>
                            <hr>
                            <ul class="pagination btn-group p-l-10">
                                <li class="paginate_button page-item previous" [ngClass]="{ 'disabled': !videos.prev_page_url }">
                                    <button (click)="prevPage()" [disabled]="!videos.prev_page_url" class="btn waves-effect" ><i class="mdi mdi-arrow-left"></i></button>
                                </li>
                                <li class="paginate_button page-item next" [ngClass]="{ 'disabled': !videos.next_page_url }">
                                    <button (click)="nextPage()" [disabled]="!videos.next_page_url" class="btn waves-effect"><i class="mdi mdi-arrow-right"></i></button>
                                </li>
                            </ul>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-5">
        <div class="white-box">
            <h3 class="box-title">Cart Summary</h3>
            <hr> <small>Total Price</small>
            <h2>$612</h2>
            <hr>
            <button class="btn btn-success">Checkout</button>
            <button class="btn btn-default btn-outline">Cancel</button>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-5">
        <div class="white-box">
            <h3 class="box-title">For Any Support</h3>
            <hr>
            <h4><i class="ti-mobile"></i> 9998979695 (Toll Free)</h4> <small>Please contact with us if you have any questions. We are avalible 24h.</small> </div>
    </div>
</div>