<div class="row m-0">
    <div class="col-md-9 col-lg-9 col-sm-7 p-0">
        <div class="panel panel-info">
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body p-0">
                    <div class="table-responsive">
                        <table class="table list-video-overview">
                            <tbody>
                            <tr>
                                <td width="150"><img src="assets/images/2706-chuyen-dong-trua-1467006309111-a481f.jpg" alt="iMac" width="80"></td>
                                <td width="600">
                                    <h5 class="font-bold m-0">Chuyển động 24h trưa - 27/6/2016</h5>
                                    <p class="m-0"><span class="font-bold">Ngày tạo </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Ngày xuất bản </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Người tạo </span> Tới Nguyễn</p>
                                </td>
                                <td width="40" align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-checkbox-marked-circle font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-arrow-up-bold-circle-outline font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark font-25 green"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="150"><img src="assets/images/0412trai-dat-xanh-15439078720722067096466-5b14c.jpg" alt="iMac" width="80"></td>
                                <td width="600">
                                    <h5 class="font-bold m-0">Chuyển động 24h trưa - 27/6/2016</h5>
                                    <p class="m-0"><span class="font-bold">Ngày tạo </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Ngày xuất bản </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Người tạo </span> Tới Nguyễn</p>
                                </td>
                                <td width="40" align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-checkbox-marked-circle font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-arrow-up-bold-circle-outline font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark font-25 green"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="150"><img src="assets/images/0412y-te-24h-1543904167911425539332-c03bf_thumb3.jpg" alt="iMac" width="80"></td>
                                <td width="600">
                                    <h5 class="font-bold m-0">Chuyển động 24h trưa - 27/6/2016</h5>
                                    <p class="m-0"><span class="font-bold">Ngày tạo </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Ngày xuất bản </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Người tạo </span> Tới Nguyễn</p>
                                </td>
                                <td width="40" align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-checkbox-marked-circle font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-arrow-up-bold-circle-outline font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark font-25 green"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="150"><img src="assets/images/0412alo-15439040507241990768665-d9ef6.jpg" alt="iMac" width="80"></td>
                                <td width="600">
                                    <h5 class="font-bold m-0">Chuyển động 24h trưa - 27/6/2016</h5>
                                    <p class="m-0"><span class="font-bold">Ngày tạo </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Ngày xuất bản </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Người tạo </span> Tới Nguyễn</p>
                                </td>
                                <td width="40" align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-checkbox-marked-circle font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-arrow-up-bold-circle-outline font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark font-25 green"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="150"><img src="assets/images/0412thoi-su-12h-15439027433511966325075-bbff7.jpg" alt="iMac" width="80"></td>
                                <td width="600">
                                    <h5 class="font-bold m-0">Chuyển động 24h trưa - 27/6/2016</h5>
                                    <p class="m-0"><span class="font-bold">Ngày tạo </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Ngày xuất bản </span> Thứ Ba, 4/12/2018 13:45</p>
                                    <p class="m-0"><span class="font-bold">Người tạo </span> Tới Nguyễn</p>
                                </td>
                                <td width="40" align="center">
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-checkbox-marked-circle font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="mdi mdi-arrow-up-bold-circle-outline font-25 green"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-trash text-dark font-25 green"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr class="m-t-0">
                        <!--<ul class="pagination btn-group p-l-10">
                            <li class="paginate_button page-item previous" [ngClass]="{ 'disabled': !users.prev_page_url }">
                                <button (click)="prevPage()" [disabled]="!users.prev_page_url" class="btn waves-effect" ><i class="mdi mdi-arrow-left"></i></button>
                            </li>
                            <li class="paginate_button page-item next" [ngClass]="{ 'disabled': !users.next_page_url }">
                                <button (click)="nextPage()" [disabled]="!users.next_page_url" class="btn waves-effect"><i class="mdi mdi-arrow-right"></i></button>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-5">
        <div class="white-box">
            <h3 class="box-title">Cart Summary</h3>
            <hr> <small>Total Price</small>
            <h2>$612</h2>
            <hr>
            <button class="btn btn-success">Checkout</button>
            <button class="btn btn-default btn-outline">Cancel</button>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-5">
        <div class="white-box">
            <h3 class="box-title">For Any Support</h3>
            <hr>
            <h4><i class="ti-mobile"></i> 9998979695 (Toll Free)</h4> <small>Please contact with us if you have any questions. We are avalible 24h.</small> </div>
    </div>
</div>