<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Quản lý</h4>
    </div>
</div>
<!-- row -->
<div class="row">
    <!-- Left sidebar -->
    <div class="col-md-12">
        <div class="white-box p-0">
            <div class="page-aside">
                <div class="left-aside">
                    <div class="scrollable">
                        <ul class="list-style-none">
                            <li>
                                <a [routerLink]="['/Default/Manager/UserManager']" routerLinkActive="active">
                                    <i class="mdi mdi-account-multiple"></i>
                                    Quản lý user
                                    <span class="label label-rouded label-success pull-right">5</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/Default/Manager/CategoryManager']" routerLinkActive="active">
                                    <i class="mdi mdi-format-indent-decrease"></i> Chuyên mục
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-aside">
                    <div class="scrollDiv">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
