<div class="row m-t-15">
    <div class="col-md-12">
        <div class="white-box p-0">
            <!-- .left-right-aside-column-->
            <div class="page-aside">
                <!-- .left-aside-column-->
                <div class="left-aside">
                    <div class="scrollable">
                        <app-create-video></app-create-video>
                        <button type="button" class="btn btn-info waves-effect waves-light full-width" data-toggle="modal" data-target="#responsive-modal">
                            <i class="mdi mdi-upload"></i> Tạo video mới
                        </button>
                        <ul class="list-style-none m-t-15">
                            <li>
                                <a [routerLink]="['/Default/VideosManager/Draft']" routerLinkActive="active">
                                    <i class="mdi mdi-folder-download"></i> Lưu tạm
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/Default/VideosManager/WaitingPublic']" routerLinkActive="active">
                                    <i class="mdi mdi-folder-download"></i> Chờ xuất bản
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/Default/VideosManager/Published']" routerLinkActive="active">
                                    <i class="mdi mdi-folder-lock-open"></i> Đã xuất bản <span class="label label-rouded label-info pull-right">20</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.left-aside-column-->
                <div class="right-aside p-l-0">
                    <router-outlet></router-outlet>
                </div>
                <!-- .left-aside-column-->
            </div>
            <!-- /.left-right-aside-column-->
        </div>
    </div>
</div>